body{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    background-color: wheat;
}

li, a, button{
    font-family: 'PT sans',sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
    border: solid 2px; /*aide pour la taille que prend le hader*/
    height: 10px;
    background-color: tomato;
}

nav {
    border:solid 2px;/*aide pour la taille que prend la*/
    order: 1;
}

.nav__links{
    list-style-type: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}



.nav__links li a{
    transition: all 0.3s ease 0s;
}


.nav__links li a:hover {
   color:#0088a9;
}

.cta{
    order:2; 
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136,169,1);
    border: none;
    border-radius:50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color:rgba(0,136,169,0.8);
}






/*SETUP POUR GLITCH LE TEXT, FAUT DESaCTIiVER BOX SHADOW */


/*glitch-effect::before, .glitch-effect::after{
    content:'WWI arrive prochainement';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    opacity: .8;
}

.glitch-effect::before{

    color:#14e2e2;
    z-index: -1;
    animation: effect1 .3s ease infinite;
}

.glitch-effect::after{
    color: #ff2a78;
    z-index: -2;
    animation:effect2 .3s ease infinite reverse ;
}

@keyframes effect1{
    0% {transform: translate(0)}
    20% {transform: translate(-2px, 2px)}
    40% {transform: translate(-4px, -4px)}
    60% {transform: translate(2px, 2px)}
    80% {transform: translate(2px, -4px)}
    100% {transform: translate(0px)}

}

@keyframes effect2{
    0% {transform: translate(0)}
    20% {transform: translate(-2px, 2px)}
    40% {transform: translate(-2px, -2px)}
    60% {transform: translate(2px, 2px)}
    80% {transform: translate(2px, -2px)}
    100% {transform: translate(0px)}

}
*/
